services:
    mysql:
        image: mysql:8.0
        command: --default-authentication-plugin=mysql_native_password
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: bitchest
        ports:
            - "3306:3306"

    backend:
        build: ./
        ports:
            - "8000:8000"
        depends_on:
            - mysql
        environment:
            DATABASE_URL: "mysql://root:root@127.0.0.1:3306/bitchest?serverVersion=8.0.41&charset=utf8mb4"

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        restart: always
        ports:
            - "8080:80"
        environment:
            PMA_HOST: mysql
            PMA_USER: root
            PMA_PASSWORD: root
        depends_on:
            - mysql
