security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: mail

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false

        main:
            lazy: true
            provider: app_user_provider

            # IMPORTANT :
            # Tu n'as pas d'authenticator configuré (tu l'as vu: authenticators=0).
            # Ton système de cookie "connect.uid" ne sera PAS pris en compte par Symfony Security
            # tant que tu n'as pas un authenticator (custom) qui lit ce cookie et authentifie l'utilisateur.
            #
            # Exemple futur:
            # custom_authenticator: App\Security\UserTokenAuthenticator

    access_control:
        # - { path: ^/admin, roles: ROLE_ADMIN }
        # - { path: ^/profile, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10