{% extends 'base.html.twig' %}

{% block title %}New client{% endblock %}

{% block body %}
    <h1>Create new client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('app_client_index') }}">back to list</a>
{% endblock %}
